<ul ng-cambio-estilo ng-repeat="pkmn in pokemon">
	<li class="capitalizar negrita">{{pkmn.id}}. <a ng-href="#/id/{{pkmn.id}}">{{pkmn.name | guionesFuera}}</a></li>
</ul><br>
<p class="text-center textoGrande textoMediano"><a class="pasaPagina" ng-click="$root.sentido='atras'" href="#/pagina/{{num - 1}}" ng-hide="$root.num < 1">< Página anterior</a> <span class="textoGrande">|</span> <a class="pasaPagina" ng-click="$root.sentido='alante'" href="#/pagina/{{num + 1}}" ng-hide="$root.num >= 40">Página siguiente ></a></p><br>